ion-item {
  --background:var(--background)
  --border-radius: 20px;
  --detail-icon-color: #1780cb;
  --detail-icon-opacity: 1;
  --detail-icon-font-size: 35px;
}

.ocasiones {
  border-radius: 25px;
}